body {
  background-color: #2c3e50;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.pointer {
  cursor: pointer;
}

.form {
  display: none;
  width: 100%;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.delete {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.js-clock {
  font-size: 3.5vw;
  text-align: center;
}

.js-greetings {
  text-align: center;
  font-size: 3.5vw;
}

.js-toDoList {
  text-align: center;
}

.form-text {
  width: 100%;
  height: 30px;
  border-width: 0px;
  border: none;
  background-color: #f4f8f7;
  color: white;
}

.fa-tasks {
  color: gray;
}
